
body {
    background-image: url("1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  
}

.btn{
    outline: none;
}
.edittodo {
  border: none;
  background-color: #ffe8e9 !important;
  text-align: center;
  outline: none;
}

.title {
    color: rgb(48, 2, 40);
    text-align: center;
   font-family: 'Courier New', Courier, monospace; 
}

.list {
    color: black;
   text-align: center;
   list-style-type: none;

   
}
ul, ol {
    margin-top: 20px;
    overflow:hidden;
    border-radius: 9px 9px 9px 9px;

}

.supercss {
    background-color: #ffe8e9;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    
  
}

.supercsscheck {
    background-color: rgba(44, 165, 165, 0.384);
    display: flex;
    color: white;
    text-decoration:line-through;
    font-family: 'Courier New', Courier, monospace;

}



.oneli {
    padding-bottom: 10px;
    padding-top: 10px;

}

.writing {
    text-align:center;
}

.clear-done {
    background-color: red;
    outline: none;
}

.todo {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    width: 100%;
    text-decoration: none;
}
.remove {
    float: right;
    color: #ffe8e9;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

.todo:hover .remove {
    text-decoration: none;
    float: right;
    color: #800000;
    text-shadow: 0 0 5px #D9B2B2;

}
a {
    text-decoration: none;
    padding: 0px;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
li:hover .destroy {
    text-decoration: none;
    float: right;
    color: #800000;
    text-shadow: 0 0 5px #D9B2B2;
}

.count {
    margin: 5px;
    margin-top: 5px;

}

danmarg {
    margin-left: 1000px;
    padding:1000px;

}
